:root {
	background: var(--bg);
	color: var(--tx);
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #100f0f;
		--bg2: #1c1b1a;
		--tx: #cecdc3;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--bg: #fffcf0;
		--bg2: #f2f0e5;
		--tx: #100f0f;
	}
}

body {
	margin: auto;
	padding: 2.5rem;
	font-family: 'strawford', 'Source Code Pro', 'Monaco', 'Helvetica';
	font-size: 1.125rem;
	line-height: 1.5;
	width: 80%;
	max-width: 940px;
}

p > code,
li > code,
dd > code,
td > code {
	background: var(--bg2);
	word-wrap: break-word;
	box-decoration-break: clone;
	padding: 0.1rem 0.3rem 0.2rem;
	border-radius: 0.2rem;
}

code {
	font-family: 'berkeley mono', monospace;
	font-size: inherit;
}

@font-face {
	font-family: 'berkeley mono';
	src: url(/fonts/BerkeleyMono-Regular.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'strawford';
	src: url(/fonts/strawford-thin-webfont.woff2) format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'strawford';
	src: url(/fonts/strawford-extralight-webfont.woff2) format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'strawford';
	src: url(/fonts/strawford-light-webfont.woff2) format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'strawford';
	src: url(/fonts/strawford-regular-webfont.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'strawford';
	src: url(/fonts/strawford-medium-webfont.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: strawford;
	src: url(/fonts/strawford-bold-webfont.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'strawford';
	src: url(/fonts/strawford-black-webfont.woff2) format('woff2');
	font-weight: 900;
	font-style: normal;
}
